QTextEdit,
QPlainTextEdit,
QTextBrowser
{
    color: #000000;
    background: #ffffff;
    selection-color: #ffffff;
    selection-background-color: #1666e0;
}

Search QCheckBox
{
    color: #000000;
}

Search QLineEdit,
Search QPushButton
{
    background: #f9f9fb;
    color: #000000;
}

Search QLineEdit[results="found"]
{
    background: #fff;
    color: #000000;
}

Search QLineEdit[results="notfound"]
{
    background: #ff8181;
    color: #000000;
}
