/** Zira Editor Studio theme **/

QToolTip
{
     border: 1px solid #d0cec1;
     background-color: #fffded;
     border-radius: 3px;
     color: #4c4c4c;
     padding: 2px 3px;
}

QWidget
{
    color: #333333;
    background-color: #eeeef2;
}

/* use built-in style */
/*
QWidget:item:hover
{
    color: #333333;
    background-color: #8dbae8;
}

QWidget:item:selected
{
    color: #fff;
    background-color: #1666e0;
}
*/

QMenuBar
{
    padding: 0px;
    spacing: 0px;
}

QMenuBar::item
{
    background: transparent;
    padding: 5px 10px;
}

QMenuBar::item:selected
{
    background-color: #8dbae8;
    border: 1px solid #eeeef2;
}

QMenuBar::item:pressed
{
    border: 1px solid #eeeef2;
    background-color: #1666e0;
    color: #fff;
}

QMenu
{
    border: 1px solid #c5cfd6;
}

QMenu::item
{
    background: #f1f1f1;
    padding: 5px 80px 5px 25px;
    min-width: 100px;
}

QMenu::item:selected
{
    color: #000000;
    background-color: #8dbae8;
}

QMenu::icon
{
    width: 12px;
    height: 12px;
    margin-left: 15px;
}

QMenu::indicator
{
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

QMenu::indicator:checked
{
    /*
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #2b85ff,
        stop: 0.3 transparent
    );
    */
    image: url(:/icons/ok.png);
}

QMenu::indicator:unchecked
{
    /*
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #90989a,
        stop: 0.3 transparent
    );
    */
    image: none;
}

QMenu::separator
{
    height: 1px;
    background-color: #c5cfd6;
    color: white;
}

QMenu::right-arrow
{
    border-image: none;
    width: 16px;
    height: 16px;
    image: url(":/icons/item.png");
}

QWidget:disabled
{
    color: #ababab;
    background-color: #eeeef2;
}

QLineEdit
{
    background-color: #ffffff;
    border-style: solid;
    border: 1px solid #c5cfd6;
    border-radius: 3;
    padding: 5px;
    selection-color: #ffffff;
    selection-background-color: #1666e0;
}

QTreeWidget
{
    outline: none;
}

QTreeWidget::item
{
    padding: 3px;
    border: none;
}

QTreeWidget::item:hover,
QTreeWidget::item:selected
{
    border: none;
}

QTreeWidget QLineEdit
{
    padding: 0;
}

QTreeView::branch:closed:has-children:has-siblings,
QTreeView::branch:closed:has-children:!has-siblings
{
    border-image: none;
    image: url(:/icons/plus.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings
{
    border-image: none;
    image: url(:/icons/minus.png);
}

QSizeGrip
{
    background-color: none;
}

QHeaderView::section
{
    background-color: #eeeef2;
    border: 0px solid #c5cfd6; /* workaround for dialog header background */
    border-bottom: 1px solid #c5cfd6;
    padding-top: 5px;
}

QHeaderView::down-arrow {
    image: url(:/icons/desc.png);
}

QHeaderView::up-arrow {
    image: url(:/icons/asc.png);
}

QFileDialog
{
    filedialog-new-directory-icon: url(:/icons/folder-new.png);
    filedialog-parent-directory-icon: url(:/icons/up.png);
    filedialog-listview-icon: url(:/icons/sidebar.png);
    filedialog-detailedview-icon: url(:/icons/output.png);
    backward-icon: url(:/icons/go-previous.png);
    forward-icon: url(:/icons/go-next.png);
}

QDialog
{
    messagebox-question-icon: url(:/icons/help-info.png);
}

QDialog QLineEdit
{
    padding: 5px;
}

QLineEdit#fileBrowserPathLine
{
    border-radius: 0;
    border-bottom: none;
}

QPushButton
{
    color: #000000;
    background-color: #f3f3f3;
    border: 1px solid #c5cfd6;
    border-radius: 3;
    padding: 5px 10px 5px 10px;
    outline: none;
}

QPushButton#gitTabPullButton,
QPushButton#gitTabPushButton,
QPushButton#gitTabRefreshButton,
QPushButton#gitTabCommitButton
{
    border-radius: 0;
    border: none;
    margin: 1px 0px 0px 1px;
}

QPushButton#gitTabPushButton
{
    margin-right: 1px;
}

QPushButton:hover
{
    border: 1px solid #1666e0;
    background:  #81c6e0;
}

QPushButton:focus
{
    background-color:  #81c6e0;
}

QPushButton:pressed
{
    color: #ffffff;
    background-color:  #1666e0;
}

/*QComboBox,*/ /* use built-in style */
QSpinBox
{
    /*selection-background-color: #ffaa00;*/
    background-color: #ffffff;
    border: 1px solid #c5cfd6;
    border-radius: 3;
    padding: 5px;
}

/*QComboBox:hover,*/ /* use built-in style */
QSpinBox:hover
{
    border: 1px solid #1666e0;
}

/* use built-in style */
/*
QComboBox:on
{
    background-color: #ffffff;
}
*/

QComboBox QAbstractItemView
{
    border: 1px solid darkgray;
    /*selection-background-color: #1666e0;*/
    outline: none;
}

QComboBox QAbstractItemView::item
{
    border: none;
    padding: 5px 10px;
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
}

QComboBox::down-arrow
{
    image: url(:/styles/light/down_arrow.png);
}

QComboBox QListView::item:hover
{
    color: #333333;
    background-color: #8dbae8;
}

QComboBox QListView::item:selected
{
    color: #fff;
    background-color: #1666e0;
}

QSpinBox::up-button,
QSpinBox::down-button
{ 
    width: 16px;
    background: #c5cfd6;
    padding: 2px;
}

QSpinBox::up-button
{
    image: url(:/styles/light/up.png);
    border-top-right-radius: 3px;
}

QSpinBox::down-button
{
    image: url(:/styles/light/down.png);
    border-bottom-right-radius: 3px;
}

QSpinBox::up-button:hover,
QSpinBox::down-button:hover
{
    background:  #81c6e0;
}

QGroupBox:focus
{
    border: 1px solid #1666e0;
}

QScrollBar:horizontal {
    border: none;
    background: #eeeef2;
    height: 14px;
    margin: 0px 1px;
    padding: 2px 0px;
}

QScrollBar::handle:horizontal
{
    background-color: #a0b3bb;
    min-width: 14px;
    border-radius: 5px;
}

QScrollBar::handle:horizontal:hover
{
    background: #007acc;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal
{
    border: none;
    border-radius: 0px;
    background: none;
    width: 1px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
    border: none;
    width: 1px;
    height: 1px;
    background: none;
    border-radius: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

QScrollBar:vertical
{
    background: #eeeef2;
    width: 14px;
    margin: 1px 0px;
    border: none;
    padding: 0px 2px;
}

QScrollBar::handle:vertical
{
    background: #a0b3bb;
    min-height: 14px;
    border-radius: 5px;
}

QScrollBar::handle:vertical:hover 
{
    background: #007acc;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
    border: none;
    border-radius: 0px;
    background: none;
    height: 1px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    border: none;
    width: 1px;
    height: 1px;
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QListWidget
{
    outline: none;
}

QListWidget::item
{
    padding: 5px;
    border: none;
}

QListWidget::item:hover
{
    color: #333333;
    background-color: #8dbae8;
}

QListWidget::item:selected
{
    color: #fff;
    background-color: #1666e0;
}

QPlainTextEdit,
QTextBrowser,
QTreeView,
QListView
{
    background-color: #ffffff;
    border: 1px solid #c5cfd6;
}

QPlainTextEdit:hover, QPlainTextEdit:focus,
QTextBrowser:hover, QTextBrowser:focus,
QTreeView:hover, QTreeView:focus,
QListView:hover, QListView:focus
{
    border: 1px solid #c5cfd6;
}

QTextEdit, QTextEdit:hover, QTextEdit:focus
{
    border: none;
}

QTreeView
{
    background: #dbece5;
}

QTreeView:focus
{
    background: #f2e8f3;
}

QTreeView::item:hover
{
    background: #5b72bf;
    color: #ffffff;
}

QTreeView::branch:closed:has-children:hover,
QTreeView::branch:closed:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover,
QTreeView::branch:closed:!has-children:hover,
QTreeView::branch:closed:!has-children:!has-siblings:hover,
QTreeView::branch:open:!has-children:!has-siblings:hover,
QTreeView::branch:open:!has-children:has-siblings:hover
{
    background: #5b72bf;
}

QTreeView::item:selected
{
    background: #bd0062;
    color: #ffffff;
}

QTreeView::branch:closed:has-children:selected,
QTreeView::branch:closed:has-children:!has-siblings:selected,
QTreeView::branch:open:has-children:!has-siblings:selected,
QTreeView::branch:open:has-children:has-siblings:selected,
QTreeView::branch:closed:!has-children:selected,
QTreeView::branch:closed:!has-children:!has-siblings:selected,
QTreeView::branch:open:!has-children:!has-siblings:selected,
QTreeView::branch:open:!has-children:has-siblings:selected
{
    background: #bd0062;
}

QMainWindow::separator
{
    background-color: #eeeef2;
    color: #333333;
    padding-left: 4px;
    border: 1px solid #eeeef2;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar
{
    color: #333333;
    background-color: #eeeef2;
    border: 1px solid #eeeef2; /* workaround for lxde */
    spacing: 5px;
}

QToolBar::handle
{
    background: url(:/styles/light/handle.png);
}

QToolBar::handle:horizontal
{
    width: 10px;
    margin-right: 3px;
}

QToolBar::handle:vertical
{
    height: 10px;
    margin-bottom: 3px;
}

QToolBar::separator
{
    background-color: #a7a7a7;
    border: none;
}

QToolBar::separator:horizontal
{
    width: 1px;
    margin: 0px 3px;
}

QToolBar::separator:vertical
{
    height: 1px;
    margin: 3px 0px;
}

QToolButton
{
    background: transparent;
    border: 1px solid #eeeef2;
}

QToolButton:hover
{
    background: transparent;
    border: 1px solid #007acc;
}

QToolButton:pressed
{
    color: #ffffff;
    background: #1666e0;
    border: 1px solid #1666e0;
}

QFileDialog QToolButton:hover,
QFileDialog QToolButton:focus,
QFileDialog QToolButton:pressed
{
    background-color: transparent;
    border: 1px solid #1666e0;
}

QTabWidget QToolButton,
Breadcrumbs QToolButton
{
    border: none;
}

QTabWidget QToolButton:pressed,
Breadcrumbs QToolButton:pressed
{
    background: none;
}

QProgressBar
{
    border: 1px solid #25b9ff;
    border-radius: 0px;
    text-align: center;
    height: 20px;
    margin: 2px 4px;
}

QProgressBar::chunk
{
    background-color: #25b9ff;
    width: 2px;
    margin: 0px;
}

QStatusBar QProgressBar
{
    margin: 0px;
}

QTabBar
{
    outline: none;
    qproperty-drawBase: 0; /* workaround for dock tabs bottom line */
}

QTabBar::tab:top, QTabBar::tab:bottom,
QTabBar::tab:left, QTabBar::tab:right
{
    border: none;
    background-color: #f7f7f7;
}

QTabBar::tab:!selected
{
    color: #353535;
}

QTabBar::tab:top:selected, QTabBar::tab:bottom:selected,
QTabBar::tab:left:selected, QTabBar::tab:right:selected
{
    color: #ffffff;
    background-color: #007acc;
}

QTabBar::tab:!selected:hover
{
    color: #ffffff;
    background-color: #007acc;
}

QTabBar::tab:top
{
    /*border-top: 1px solid #d0d0d0;*/
    /*border-right: 1px solid #d0d0d0;*/
    margin-right: 1px;
    padding: 5px 10px;
    min-width: 150px;
}

#SettingsDialog QTabBar::tab:top
{
    min-width: 80px;
    padding: 5px;
}

QTabBar::tab:top:first, QTabBar::tab:top:only-one
{
    /*border-left: 1px solid #d0d0d0;*/
    /*border-top-left-radius: 3px;*/
}

QTabBar::tab:top:last, QTabBar::tab:top:only-one
{
    /*border-top-right-radius: 3px;*/
}

QTabBar::tab:bottom
{
    /*border-bottom: 1px solid #d0d0d0;*/
    /*border-right: 1px solid #d0d0d0;*/
    margin-right: 1px;
    padding: 5px 10px;
    min-width: 100px;
}

QTabBar::tab:bottom:first, QTabBar::tab:bottom:only-one
{
    /*border-left: 1px solid #d0d0d0;*/
    /*border-bottom-left-radius: 3px;*/
}

QTabBar::tab:bottom:last, QTabBar::tab:bottom:only-one
{
    /*border-bottom-right-radius: 3px;*/
}

QTabBar::tab:left
{
    /*border-right: 1px solid #d0d0d0;*/
    /*border-bottom: 1px solid #d0d0d0;*/
    border: 1px solid #c5cfd6;
    margin-bottom: 1px;
    padding: 10px 5px;
    min-height: 100px;
    margin-bottom: 1px;
}

QTabBar::tab:left:first, QTabBar::tab:left:only-one
{
    /*border-top: 1px solid #d0d0d0;*/
    /*border-top-right-radius: 3px;*/
}

QTabBar::tab:left:last, QTabBar::tab:left:only-one
{
    /*border-bottom-right-radius: 3px;*/
}

QTabBar::tab:right
{
    /*border-left: 1px solid #d0d0d0;*/
    /*border-bottom: 1px solid #d0d0d0;*/
    border: 1px solid #c5cfd6;
    margin-bottom: 1px;
    padding: 10px 5px;
    min-height: 100px;
    margin-bottom: 1px;
}

QTabBar::tab:right:first, QTabBar::tab:right:only-one
{
    /*border-top: 1px solid #d0d0d0;*/
    /*border-top-left-radius: 3px;*/
}

QTabBar::tab:right:last, QTabBar::tab:right:only-one
{
    /*border-bottom-left-radius: 3px;*/
}

QTabBar QToolButton
{
    background-color: #e0e0e0;
    border: 1px solid #c5cfd6;
}

QTabBar QToolButton:hover
{
    background-color: #abc5ec;
}

QTabBar QToolButton::right-arrow {
    image: url(:/icons/go-next.png);
}

QTabBar QToolButton::left-arrow {
    image: url(:/icons/go-previous.png);
}

QTabBar::close-button
{
    image: url(:/styles/light/close.png);
    subcontrol-position: right;
}

QTabBar::close-button:hover
{
    image: url(:/styles/light/close-hover.png);
}

QTabWidget::pane 
{
    border: 1px solid #c5cfd6;
    top: 0px;
}

QDockWidget
{
    border: 1px solid #c5cfd6;
    titlebar-close-icon: url(:/icons/blank.png);
    titlebar-normal-icon: url(:/icons/blank.png);
    padding: 5px;
}

/* use built-in style */
/*
QDockWidget::title
{
    padding: 5px;
    border: 1px solid #c5cfd6;
    text-align: center;
    background: #f7f7f7;
}
*/

/* order matters - vertical first, then horizontal */
/*
QDockWidget::title:vertical
{
    margin: 0px 1px;
}

QDockWidget::title:horizontal
{
    margin: 0px 0px 1px 0px;
}
*/

QDockWidget::close-button
{ 
    image: url(:/styles/light/hide.png);
    border: none; 
    background: none;
    padding: 0px;
    icon-size: 10px;
}

QDockWidget::close-button:hover
{ 
    image: url(:/styles/light/hide-hover.png);
    border: none; 
    background: none;
}

QDockWidget::float-button
{ 
    image: url(:/styles/light/float.png);
    border: none; 
    background: none;
    padding: 0px;
    icon-size: 10px;
}

QDockWidget::float-button:hover
{ 
    image: url(:/styles/light/float-hover.png);
    border: none; 
    background: none;
}

QDockWidget QTabWidget::pane
{
    border: none;
    padding: 0px 0px;
}

QDockWidget QTabWidget::pane::right
{
    padding-left: 0px;
}

QDockWidget QTabWidget::pane::left
{
    padding-right: 0px;
}

QDockWidget QTextEdit,
QDockWidget QTextEdit:hover,
QDockWidget QTextEdit:focus
{
    border: 1px solid #c5cfd6;
}

QRadioButton
{
    background: none;
}

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #000000;
    background-color: none;
    border: none;
    border-radius: 0px;
}

QRadioButton::indicator:checked
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #2b85ff,
        stop: 0.3 transparent
    );
}

QRadioButton::indicator:unchecked
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #90989a,
        stop: 0.3 transparent
    );
}

QCheckBox
{
    background: none;
}

QCheckBox:disabled
{
    color: #818181;
}

QCheckBox::indicator{
    color: #000000;
    background: none;
    border: none;
}

QCheckBox::indicator:checked
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #2b85ff,
        stop: 0.3 transparent
    );
}

QCheckBox::indicator:unchecked
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #90989a,
        stop: 0.3 transparent
    );
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #333333,
        stop: 0.3 transparent
    );
}

QDialogButtonBox
{
    dialogbuttonbox-buttons-have-icons: 1;
    icon-size: 64px 64px;
    dialog-ok-icon: url(:/styles/light/ok.png);
    dialog-cancel-icon: url(:/styles/light/cancel.png);
    dialog-reset-icon: url(:/styles/light/reset.png);
}

QuickAccess,
QuickAccess:hover,
QuickAccess:focus
{
    background: #dbece5;
    border: 1px solid #c5cfd6;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

QuickAccess QListView,
QuickAccess QListView:hover,
QuickAccess QListView:focus
{
    background: transparent;
    border: none;
}

QColorDialog
{
    border: 1px solid #8dbae8;
    padding: 3px;
}
