QTextEdit,
QPlainTextEdit,
QTextBrowser
{
    color: #a9b7c6;
    background: #2b2b2b;
    selection-color: #ffffff;
    selection-background-color: #2c5584;
}

Search QCheckBox
{
    color: #c4c8cc;
}

Search QLineEdit,
Search QPushButton
{
    background: #4a4e50;
    color: #c4c8cc;
}

Search QLineEdit[results="found"]
{
    background: #3a4a50;
    color: #ffffff;
}

Search QLineEdit[results="notfound"]
{
    background: #381c22;
    color: #ffffff;
}

QLabel[abstract_label="true"]
{
    color: #fff;
    font-size: 17px;
    background-image: url(:image/abstract);
    background-position: left bottom;
    background-repeat: repeat-x;
}
