QTextEdit,
QPlainTextEdit,
QTextBrowser
{
    color: #a9b7c6;
    background: #1b1b1b;
    selection-color: #ffffff;
    selection-background-color: #2c5584;
}

Search QCheckBox
{
    color: #c4c8cc;
}

Search QLineEdit,
Search QPushButton
{
    background: #2c2e2f;
    color: #c4c8cc;
}

Search QLineEdit[results="found"]
{
    background: #3a4a50;
    color: #ffffff;
}

Search QLineEdit[results="notfound"]
{
    background: #381c22;
    color: #ffffff;
}
