/** Zira Editor Intellij theme **/

QToolTip
{
     border: 1px solid #48678e;
     background-color: #314661;
     border-radius: 3px;
     color: #bbbbbb;
     padding: 2px 3px;
}

QWidget
{
    color: #bbbbbb;
    background-color: #2b2f30;
}

QWidget:disabled
{
    color: #616161;
    background-color: #2b2f30;
}

/* use built-in style */
/*
QWidget:item:hover
{
    color: #bbbbbb;
    background-color: #484d50;
}

QWidget:item:selected
{
    color: #fff;
    background-color: #474a4d;
}
*/

QMenuBar
{
    padding: 0px;
    spacing: 0px;
}

QMenuBar::item
{
    background: transparent;
    padding: 5px 10px;
}

QMenuBar::item:selected
{
    background-color: #484d50;
    border: 1px solid #2b2f30;
}

QMenuBar::item:pressed
{
    border: 1px solid #2b2f30;
    background-color: #474a4d;
    color: #fff;
}

QMenu
{
    border: 1px solid #444;
}

QMenu::item
{
    background: #2b2f30;
    padding: 5px 80px 5px 25px;
    min-width: 100px;
}

QMenu::item:selected
{
    color: #fff;
    background-color: #484d50;
}

QMenu::icon
{
    width: 12px;
    height: 12px;
    margin-left: 15px;
}

QMenu::indicator
{
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

QMenu::indicator:checked
{
    /*
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #0089ff,
        stop: 0.3 transparent
    );
    */
    image: url(:/styles/dark/ok.png);
}

QMenu::indicator:unchecked
{
    /*
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #90989a,
        stop: 0.3 transparent
    );
    */
    image: none;
}

QMenu::separator
{
    height: 1px;
    background-color: #444;
    color: white;
}

QMenu::right-arrow
{
    border-image: none;
    width: 16px;
    height: 16px;
    image: url(":/styles/dark/item.png");
}

QLineEdit
{
    background-color: #272c2e;
    border-style: solid;
    border: 1px solid #444;
    border-radius: 3;
    padding: 5px;
    selection-color: #ffffff;
    selection-background-color: #2c5584;
}

QTreeWidget
{
    outline: none;
}

QTreeWidget::item
{
    padding: 3px;
    border: none;
}

QTreeWidget::item:hover,
QTreeWidget::item:selected
{
    border: none;
}

QTreeWidget QLineEdit
{
    padding: 0;
}

QTreeView::branch:closed:has-children:has-siblings,
QTreeView::branch:closed:has-children:!has-siblings
{
    border-image: none;
    image: url($theme_dir/images/branch-open.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings
{
    border-image: none;
    image: url($theme_dir/images/branch-close.png);
}

QSizeGrip
{
    background-color: none;
}

QHeaderView::section
{
    background-color: #2b2f30;
    border: 0px solid #444; /* workaround for dialog header background */
    border-bottom: 1px solid #444;
    padding-top: 5px;
}

QHeaderView::down-arrow {
    image: url($theme_dir/images/desc.png);
}

QHeaderView::up-arrow {
    image: url($theme_dir/images/asc.png);
}

QFileDialog
{
    filedialog-new-directory-icon: url($theme_dir/icons/folder.png);
    filedialog-parent-directory-icon: url($theme_dir/icons/up.png);
    filedialog-listview-icon: url($theme_dir/icons/actionSidebar.png);
    filedialog-detailedview-icon: url($theme_dir/icons/actionOutput.png);
    backward-icon: url($theme_dir/icons/left.png);
    forward-icon: url($theme_dir/icons/right.png);
}

QDialog
{
    messagebox-question-icon: url($theme_dir/images/question.png);
}

QDialog QLineEdit
{
    padding: 5px;
}

QLineEdit#fileBrowserPathLine
{
    border-radius: 0;
    border-bottom: none;
}

QPushButton
{
    color: #e5e8ea;
    background-color: #272c2e;
    border: 1px solid #444;
    border-radius: 3;
    padding: 5px 10px 5px 10px;
    outline: none;
    min-width: 60px;
}

QPushButton#gitTabPullButton,
QPushButton#gitTabPushButton,
QPushButton#gitTabRefreshButton,
QPushButton#gitTabCommitButton
{
    border-radius: 0;
    border: none;
    margin: 1px 0px 0px 1px;
    min-width: 20px;
}

QPushButton#gitTabPushButton
{
    margin-right: 1px;
}

QPushButton:hover
{
    border: 1px solid #3e4244;
    background:  #3e4244;
}

QPushButton:focus
{
    background-color:  #3e4244;
}

QPushButton:pressed
{
    background-color:  #474a4d;
}

/*QComboBox,*/ /* use built-in style */
QSpinBox
{
    /*selection-background-color: #ffaa00;*/
    background-color: #272c2e;
    border: 1px solid #444;
    border-radius: 3;
    padding: 5px 40px 5px 5px;
}

/*QComboBox:hover,*/ /* use built-in style */
QSpinBox:hover
{
    border: 1px solid #3e4244;
}

/* use built-in style */
/*
QComboBox:on
{
    background-color: #333237;
}
*/

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    /*selection-background-color: #3e4244;*/
    outline: none;
}

QComboBox QAbstractItemView::item
{
    border: none;
    padding: 5px 10px;
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
}

QComboBox::down-arrow
{
    image: url(:/styles/dark/down_arrow.png);
}

QComboBox QListView::item:hover
{
    color: #bbbbbb;
    background-color: #484d50;
}

QComboBox QListView::item:selected
{
    color: #fff;
    background-color: #474a4d;
}

QSpinBox::up-button,
QSpinBox::down-button
{ 
    width: 12px;
    height: 12px;
    background: #444;
    padding: 4px;
    border-radius: 3px;
}

QSpinBox::up-button
{
    subcontrol-origin: margin;
    subcontrol-position: center right;
    right: 28px;
    image: url(:/styles/dark/up.png);
}

QSpinBox::down-button
{
    subcontrol-origin: margin;
    subcontrol-position: center right;
    right: 6px;
    image: url(:/styles/dark/down.png);
}

QSpinBox::up-button:hover,
QSpinBox::down-button:hover
{
    background:  #333;
}

QGroupBox:focus
{
    border: 1px solid #3e4244;
}

QScrollBar:horizontal {
    border: none;
    background: #2b2f30;
    height: 18px;
    margin: 0px 1px;
    padding: 2px 0px;
}

QScrollBar::handle:horizontal
{
    background-color: #4a6068;
    min-width: 18px;
    border-radius: 0px;
}

QScrollBar::handle:horizontal:hover
{
    background: #484d50;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal
{
    border: none;
    border-radius: 0px;
    background: none;
    width: 1px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
    border: none;
    width: 1px;
    height: 1px;
    background: none;
    border-radius: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

QScrollBar:vertical
{
    background: #2b2f30;
    width: 18px;
    margin: 1px 0px;
    border: none;
    padding: 0px 2px;
}

QScrollBar::handle:vertical
{
    background: #4a6068;
    min-height: 18px;
    border-radius: 0px;
}

QScrollBar::handle:vertical:hover 
{
    background: #484d50;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
    border: none;
    border-radius: 0px;
    background: none;
    height: 1px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    border: none;
    width: 1px;
    height: 1px;
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QListWidget
{
    outline: none;
}

QListWidget::item
{
    padding: 5px;
    border: none;
}

QListWidget::item:hover
{
    color: #bbbbbb;
    background-color: #484d50;
}

QListWidget::item:selected
{
    color: #fff;
    background-color: #474a4d;
}

QPlainTextEdit,
QTextBrowser,
QTreeView,
QListView
{
    background-color: #242424;
    border: 1px solid #444;
}

QPlainTextEdit:hover, QPlainTextEdit:focus,
QTextBrowser:hover, QTextBrowser:focus,
QTreeView:hover, QTreeView:focus,
QListView:hover, QListView:focus
{
    border: 1px solid #444;
}

QTextEdit, QTextEdit:hover, QTextEdit:focus
{
    border: none;
}

QTreeView
{
    background: #2b2f30;
}

QTreeView:focus
{
    background: #3b3239;
}

QTreeView::item:hover
{
    background: #435cab;
    color: #ffffff;
}

QTreeView::branch:closed:has-children:hover,
QTreeView::branch:closed:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover,
QTreeView::branch:closed:!has-children:hover,
QTreeView::branch:closed:!has-children:!has-siblings:hover,
QTreeView::branch:open:!has-children:!has-siblings:hover,
QTreeView::branch:open:!has-children:has-siblings:hover
{
    background: #435cab;
}

QTreeView::item:selected
{
    background: #1d8277;
    color: #ffffff;
}

QTreeView::branch:closed:has-children:selected,
QTreeView::branch:closed:has-children:!has-siblings:selected,
QTreeView::branch:open:has-children:!has-siblings:selected,
QTreeView::branch:open:has-children:has-siblings:selected,
QTreeView::branch:closed:!has-children:selected,
QTreeView::branch:closed:!has-children:!has-siblings:selected,
QTreeView::branch:open:!has-children:!has-siblings:selected,
QTreeView::branch:open:!has-children:has-siblings:selected
{
    background: #1d8277;
}

QMainWindow::separator
{
    background-color: #2b2f30;
    color: #bbbbbb;
    padding-left: 4px;
    border: 1px solid #2b2f30;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar
{
    color: #bbbbbb;
    background-color: #2b2f30;
    border: 1px solid #2b2f30; /* workaround for lxde */
    spacing: 5px;
}

QToolBar::handle
{
    background: url(:/styles/dark/handle.png);
}

QToolBar::handle:horizontal
{
    width: 10px;
    margin-right: 3px;
}

QToolBar::handle:vertical
{
    height: 10px;
    margin-bottom: 3px;
}

QToolBar::separator
{
    background-color: #444;
    border: none;
}

QToolBar::separator:horizontal
{
    width: 1px;
    margin: 0px 3px;
}

QToolBar::separator:vertical
{
    height: 1px;
    margin: 3px 0px;
}

QToolButton
{
    background: transparent;
    border: 1px solid #2b2f30;
}

QToolButton:hover
{
    background: transparent;
    border: 1px solid #484d50;
}

QToolButton:pressed
{
    background: #3e4244;
    border: 1px solid #3e4244;
}

QFileDialog QToolButton:hover,
QFileDialog QToolButton:focus,
QFileDialog QToolButton:pressed
{
    background-color: transparent;
    border: 1px solid #3e4244;
}

QTabWidget QToolButton,
Breadcrumbs QToolButton
{
    border: none;
}

QTabWidget QToolButton:pressed,
Breadcrumbs QToolButton:pressed
{
    background: none;
}

Breadcrumbs QToolButton[BreadcrumbsButton=QuickAccess]
{
    qproperty-icon: url(:/styles/dark/separator-double.png);
}

QProgressBar
{
    border: 1px solid #0076af;
    border-radius: 0px;
    text-align: center;
    height: 20px;
    margin: 2px 4px;
}

QProgressBar::chunk
{
    background-color: #0076af;
    width: 2px;
    margin: 0px;
}

QStatusBar QProgressBar
{
    margin: 0px;
}

QTabBar
{
    outline: none;
    qproperty-drawBase: 0; /* workaround for dock tabs bottom line */
}

QTabBar::tab:top, QTabBar::tab:bottom,
QTabBar::tab:left, QTabBar::tab:right
{
    border: none;
    background-color: #272c2e;
}

QTabBar::tab:!selected
{
    color: #999999;
}

QTabBar::tab:top:selected, QTabBar::tab:bottom:selected,
QTabBar::tab:left:selected, QTabBar::tab:right:selected
{
    color: #e5e8ea;
    background-color: #484d50;
}

QTabBar::tab:!selected:hover
{
    background-color: #484d50;
}

QTabBar::tab:top
{
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    padding: 5px 10px;
    min-width: 150px;
}

#SettingsDialog QTabBar::tab:top
{
    min-width: 80px;
    padding: 5px;
}

QTabBar::tab:top:first, QTabBar::tab:top:only-one
{
    border-left: 1px solid #444;
    /*border-top-left-radius: 3px;*/
}

QTabBar::tab:top:last, QTabBar::tab:top:only-one
{
    /*border-top-right-radius: 3px;*/
}

QTabBar::tab:bottom
{
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    padding: 5px 10px;
    min-width: 100px;
}

QTabBar::tab:bottom:first, QTabBar::tab:bottom:only-one
{
    border-left: 1px solid #444;
    /*border-bottom-left-radius: 3px;*/
}

QTabBar::tab:bottom:last, QTabBar::tab:bottom:only-one
{
    /*border-bottom-right-radius: 3px;*/
}

QTabBar::tab:left
{
    /*
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    */
    border: 1px solid #444;
    padding: 10px 5px;
    min-height: 100px;
    margin-bottom: 1px;
}

QTabBar::tab:left:first, QTabBar::tab:left:only-one
{
    /*border-top: 1px solid #444;*/
    /*border-top-right-radius: 3px;*/
}

QTabBar::tab:left:last, QTabBar::tab:left:only-one
{
    /*border-bottom-right-radius: 3px;*/
}

QTabBar::tab:right
{
    /*
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    */
    border: 1px solid #444;
    padding: 10px 5px;
    min-height: 100px;
    margin-bottom: 1px;
}

QTabBar::tab:right:first, QTabBar::tab:right:only-one
{
    /*border-top: 1px solid #444;*/
    /*border-top-left-radius: 3px;*/
}

QTabBar::tab:right:last, QTabBar::tab:right:only-one
{
    /*border-bottom-left-radius: 3px;*/
}

QTabBar QToolButton
{
    background-color: #272c2e;
    border: 1px solid #444;
}

QTabBar QToolButton:hover
{
    background-color: #3e4244;
}

QTabBar QToolButton::right-arrow {
    image: url($theme_dir/icons/right.png);
}

QTabBar QToolButton::left-arrow {
    image: url($theme_dir/icons/left.png);
}

QTabBar QToolButton::up-arrow {
    image: url($theme_dir/icons/up.png);
}

QTabBar QToolButton::down-arrow {
    image: url($theme_dir/icons/down.png);
}

QTabBar::scroller
{
    width: 40px;
}

QTabBar::close-button
{
    image: url($theme_dir/images/close.png);
    subcontrol-position: right;
}

QTabBar::close-button:hover
{
    image: url($theme_dir/images/close-hover.png);
}

QTabWidget::pane 
{
    border: 1px solid #444;
    top: 0px;
}

QDockWidget
{
    border: 1px solid #444;
    titlebar-close-icon: url(:/icons/blank.png);
    titlebar-normal-icon: url(:/icons/blank.png);
    padding: 5px;
}

/* use built-in style */
/*
QDockWidget::title
{
    padding: 5px;
    border: 1px solid #444;
    text-align: center;
    background: transparent;
}
*/

/* order matters - vertical first, then horizontal */
/*
QDockWidget::title:vertical
{
    margin: 0px 1px;
}

QDockWidget::title:horizontal
{
    margin: 0px 0px 1px 0px;
}
*/

QDockWidget::close-button
{ 
    image: url(:/styles/dark/hide.png);
    border: none; 
    background: none;
    padding: 0px;
    icon-size: 10px;
}

QDockWidget::close-button:hover
{ 
    image: url(:/styles/dark/hide-hover.png);
    border: none; 
    background: none;
}

QDockWidget::float-button
{ 
    image: url(:/styles/dark/float.png);
    border: none; 
    background: none;
    padding: 0px;
    icon-size: 10px;
}

QDockWidget::float-button:hover
{ 
    image: url(:/styles/dark/float-hover.png);
    border: none; 
    background: none;
}

QDockWidget QTabWidget::pane
{
    border: none;
    padding: 0px 0px;
}

QDockWidget QTabWidget::pane::right
{
    padding-left: 0px;
}

QDockWidget QTabWidget::pane::left
{
    padding-right: 0px;
}

QDockWidget QTextEdit,
QDockWidget QTextEdit:hover,
QDockWidget QTextEdit:focus
{
    border: 1px solid #444;
}

QRadioButton
{
    background: none;
}

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #e5e8ea;
    background-color: none;
    border: none;
    border-radius: 0px;
    width: 12px;
    height: 12px;
}

QRadioButton::indicator:checked
{
    /*
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #0089ff,
        stop: 0.3 transparent
    );
    */
    image: url(:/styles/dark/ok.png);
}

QRadioButton::indicator:unchecked
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.0 transparent,
        stop: 0.25 #90989a,
        stop: 0.3 transparent
    );
}

QCheckBox
{
    background: none;
}

QCheckBox:disabled
{
    color: #616161;
}

QCheckBox::indicator{
    color: #e5e8ea;
    background: none;
    border: none;
    width: 12px;
    height: 12px;
}

QCheckBox::indicator:checked
{
    /*
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #0089ff,
        stop: 0.3 transparent
    );
    */
    image: url(:/styles/dark/ok.png);
}

QCheckBox::indicator:unchecked
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.0 transparent,
        stop: 0.25 #90989a,
        stop: 0.3 transparent
    );
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled
{
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #333333,
        stop: 0.3 transparent
    );
} 

QDialogButtonBox
{
    dialogbuttonbox-buttons-have-icons: 1;
    icon-size: 64px 64px;
    dialog-ok-icon: url(:/styles/dark/ok.png);
    dialog-cancel-icon: url(:/styles/dark/cancel.png);
    dialog-reset-icon: url(:/styles/dark/reset.png);
    dialog-help-icon: url(:/styles/dark/list.png);
    dialog-open-icon: url(:/styles/dark/icons/actionOpenFile.png);
    dialog-save-icon: url(:/styles/dark/icons/actionSave.png);
}

QuickAccess,
QuickAccess:hover,
QuickAccess:focus
{
    background: #2b2f30;
    border: 1px solid #444;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

QuickAccess QListView,
QuickAccess QListView:hover,
QuickAccess QListView:focus
{
    background: transparent;
    border: none;
}

QColorDialog,
QInputDialog,
MessageDialog,
QuestionDialog,
InputDialog,
ContextDialog QListWidget,
ContextDialog QListWidget:hover,
ContextDialog QListWidget:focus,
MenuDialog QListWidget,
MenuDialog QListWidget:hover,
MenuDialog QListWidget:focus
{
    border: 1px solid #4a6068;
    padding: 3px;
}

MessageDialog #headerLabel,
QuestionDialog #headerLabel,
InputDialog #headerLabel
{
    text-transform: uppercase;
    font-weight: bold;
}

InputDialog #descriptionLabel
{
    color: #616161;
}

#helpBrowser
{
    background: #000000;
}
